$btn-background-color:#33a1ff;
$red-color: #ea4672;
$green-color: #28b458;
$black-color:#231f20;
$color-333333:#333333;
$color-fafafa:#fafafa;
$color-fbfbfb:#fbfbfb;
$color-3333339c:#3333339c;

$color-white:#ffffff;
$color-alert:#f57c00;
$color-failure:#ea4672;
$color-brandheading2:#000000;
$color-warning:#00baff;
$color-success:#008135;
$color-brandheading1:#10b857;
$color-heading3:#424242;
$color-heading4:#757575;
$color-text2:#555555;
$color-background:#e5e5e5;
$color-header:#f2f2f2;
$color-borders:#d6d6d6;
$color-border2:#d8d8d8;
$color-text3:#9b9b9b;
$color-brand3:#33a1ff;
$color-brand4:#0075d9;
$color-text1:#010101;
$color-project1:#b9e1ff;
$color-project2:#4fefde;
$color-project3:#ffc1de;
$color-project4:#c7d0ff;
$color-project5:#ffc6ac;
$color-dropdown:#efefef;
$color-projectList:#3c3c3c;
$color-projectGrid:#fcfcfc;
$color-workspace:#5c5c5c;
$color-orangeYellow:#ffa700;
$color-info-bg: #9b9b9b;