$btn-background-color:#33a1ff;
$red-color: #ea4672;
$green-color: #28b458;
$black-color:#231f20;
$white-color:#ffffff;
$color-333333:#333333;
$color-fafafa:#fafafa;
$color-fbfbfb:#fbfbfb;
$color-3333339c:#3333339c;