.no-padding{
    padding-right:0px !important;
    padding-left: 0px !important;
}

.header-bgcolor{
    background-color: lightgray !important;
}

.header-logo-box{
  border-right: 1px solid #8080806b;
  padding-right: 1%;
}

.header-auth-btn{
  width:40px;
  height:40px;
  border-radius: 50% !important;
  background-color: #fff !important;
  border:0 !important;
  color:grey !important;
  text-align: center !important;
  font-size: 15px !important;
  /* content:"" !important; */
}

.header-dropdown-space{
  height: 1%;
  width: 10%;
  display: inline-block;
}

.dropdown-toggle::after{
  border:0 !important;
}

.header-dropdown{
  right:0 !important;
  left: -52px !important;
}

.menubar-container{
  background-color: #fff;
  height:65px;
  border-bottom: 1px dashed lightgray !important;
  margin-left:0 !important;
  margin-right:0 !important;
  padding-top: 8px;
  padding-bottom: 8px;
}

.menubar-task-btn{
  width:56px;
  height:56px;
  border-radius: 50% !important;
  background-color: #fff !important;
  border:0 !important;
  color:grey !important;
  text-align: center !important;
  font-size: 30px !important;
  font-weight: 400 !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  position: fixed !important;
  z-index: 185 !important;
  right: 16px !important;
  bottom: 16px !important;

}

.menubar-filter{
  height: 100% !important;
  border-radius: 11px !important;
  color:grey !important;
}

.menubar-day-sort{
  padding-left: 6% !important;
}

.calender-item{
    font-size: 13px !important;
    background: grey !important;
    border-radius: 15px !important; 
    height: 25px !important;
    line-height: 25px !important;
    border:0 !important
}

.calender-item :visited{
  background: yellow !important;
}

.calender-timelineheader{
  background-color: #fff !important;
  /* height: 41px !important; */
  color: grey !important;
}

.calender-dateheader{
  background-color: #fff !important; 
}

.rct-dateHeader{
  color:gray !important;
  background-color: #fff !important;
  border-bottom: 1px dashed #bbb !important;
  border-left: 1px dashed #bbb !important;
  border-right:0 !important;
}

.rct-sidebar-row{
  background-color: #fff !important;
  border-bottom: 1px dashed #bbb !important;
}

.rct-hl-odd {
    background: #fff !important;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even, .react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  border-bottom: 1px dashed #bbb !important;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl {
  border-left: 1px dashed #bbb !important;
}


.footer{
    background-color: aliceblue;
    position: absolute;
    bottom:0;
    padding:20px;
    width:100%;
}

.footer-text{
    color:black;
    text-align: center;
    font-size: 15px;
    width:100%;
}
