@import "./styles";
  
.reports-container {
  width: 100%;
  .report-table{
    margin: 2% 2.5% 2% 2.5%;
  }
}

.reports-btns{
  display: inline-block;
  width: 100%;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.1);
  .report-caleneder-btn{
    display: inline-block;
    padding-left: 275px;
    .report-category{
      margin-right: 20px;
      .custom-search-select{
        height: 34px !important;
        width: 400px !important;
        input{
          padding: 5px 5px !important;
        }
      }
      .down-icon{
        position: absolute !important;
        right: 0px !important;
        top: -3px !important;
      }
    }
    .report-priority{
      .custom-search-select{
        width: 130px !important;
        height: 34px !important;
        input{
          width: 0px !important;
          padding: 5px 5px !important;
        }
        .color-dot{
          margin-left: 5px !important;
          margin-right: 5px !important;
        }
      }
      .down-icon{
        position: absolute !important;
        right: 0px !important;
        top: -3px !important;
      }
    }
  }
  .report-download{
    display: inline-block;
    float: right;
    button{
      width: auto;
      height: 30px;
      border-radius: 5px;
      border: solid 1px $color-borders;
      background-color: $color-white;
      margin-top: 7px;
      box-shadow: none !important;
      color: #212529;
      background-color: white;
      &:hover{
          background-color: #33a1ff !important;
          color: #fff !important;
          font-weight: bold !important;
      }
      
    }
  }
  .SelectedWeekExample{
    display: inline-block;
  }
  .active{
      background-color: #33a1ff !important;
      color: #fff !important;
      font-weight: bold !important;
  }
}

.btn-bg-change {
  background-color: #33a1ff;
  color: white;
}

.SelectedWeekExample {
  .react-datepicker-wrapper {
    .react-datepicker__input-container input{
      border: none;
      padding: 0px 0 0 0px;
      margin: 4px;
    }::after {
      font-family: "Font Awesome 5 Free" !important;
      font-weight: 900 !important;
      content: "\f073" !important;
      color: #555 !important;
      padding: 0 5px !important;
    }
    border-radius: 5px;
    width: auto;
    height: auto;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
  }
}

.reports-table-container {
  width: auto;
  height: auto;
  border: solid 1px #10b857;
  background-color: #ffffff;
  margin-top: 20px;
  .report-header{
    width: auto;
    height: 60px;
    padding: 20px;
    background-color: rgba(229, 229, 229, 0.6);
  }
  .report-table-date{
    width: auto;
    height: 40px;
    background-color: rgba(229, 229, 229, 0.5);
  }
}
.arrow-button{
  padding: 0px 15px 0px 15px;
  border: none;
  background: none;
  vertical-align: bottom;
  font-size: 26px;
}
.report-viewtype-btns {
  position: fixed !important;
  top: 72px !important;
  right: 185px !important;
  z-index: 10;
  div{
    width: 80px;
    height: 36px;
    background-color: #ffffff;
    border: solid 1px $color-borders;
    text-align: center;
    padding-top: 5px;
    font-family: $font-family-roboto !important;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    cursor: pointer;
  }
  :first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  :last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .active{
    border: solid 1px $color-brand3 !important;
    background-color: $color-brand3 !important;
    color: $color-white !important;
  }
}
.right-left-space-5{
  padding-left: 5px;
  padding-right: 5px;
}

.user-project-search{
  width: 100%;
  border: 1px solid gray;
  box-shadow: #d6d6d6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  border: none;
  margin-left: 5px;
  margin-bottom: 5px;
  input{
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #33a1ff;
    padding: 10px 5px;
  }
  ul{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  li{
    padding: 10px 5px;
  }
  .suggestion-holder{
    position: absolute;
    left: 0;
    width: 109%;
    height: auto;
    z-index: 100;
    background-color: #fff;
    border-radius: 5px;
    top:39px;
    li:hover{
      cursor: pointer;
      background-color: rgba(242, 242, 242, 1);
    }
  }

  .suggestion-holder-border{
    border: 1px solid rgba(155, 155, 155, 1);
  }
  .selected-tags{
    display: inline-block;
    .search-icon-member, .search-icon-project{
      width: auto;
      height: 26px;
      margin-right: 10px;
      border-radius: 4px;
      border: solid 1px #bfbfbf;
      background-color: #ffffff;
      display:inline-block !important;
    }
  }
  .remove-tag:hover{
    cursor: pointer;
  }
  .remove-tag{
    cursor: pointer;
  }
}

.priority{
  width: 10px;
  height: 10px;
  background-color: #9B9B9B;
  margin-right: 15px;
  border-radius: 20px;
}
.complete-btn{
  border-radius: 5px !important;
  border: solid 1px #00A031 !important;
  background-color: $color-white !important;
  font-family: $font-family-roboto !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: $color-text3 !important;
  color:#00a031 !important;
  height: 25px;
  max-width: 80px !important;
  text-align: center;
  padding: 2px;
}
.not-start-btn{
  border-radius: 5px !important;
  border: solid 1px $color-text3 !important;
  background-color: $color-white !important;
  font-family: $font-family-roboto !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: $color-text3 !important;
  height: 25px;
  max-width: 80px !important;
  text-align: center;
  padding: 2px;
}
.progress-btn{
  border-radius: 5px !important;
  border: solid 1px $color-brand3 !important;
  background-color: $color-white !important;
  font-family: $font-family-roboto !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color:$color-brand3 !important;
  height: 25px;
  max-width: 80px !important;
  text-align: center;
  padding: 2px;
}
.task-error{
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}
.report-message{
  color: #9b9b9b;
  width: auto;
  height: 18px;
  padding-top: 10px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: none !important;
  opacity: 2 !important;
  font-family:  "FontAwesome" !important;
  padding-left: 10px;
  z-index: 1 !important;
  width: 20px !important;
  height: 20px !important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px !important;
  font-size: 12px !important;
  background-color: $color-info-bg;
  color: #fff !important;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1 !important;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.summary-reports{
  width: 94%;
  height: 300px;
  margin: 1.5% 3% 1.5% 3%;
  .heading{
    margin-bottom: 2%;
  }
  .report-heading{
    width: 151px;
    height: 24px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
  }
  .circle-chart{
    width: 60% !important;
    .chart{
      width: 30% !important;
      height: 180px !important;
    }
  }
  .column-chart{
    width: 40% !important;
    height: 200px;
  }
  .summury-info-btn{
    button{
      height: 36px;
      width: 90px;
      text-align: center;
      border: solid 1px $color-background;
      border-radius: 3px;
      color: $color-brandheading2
    }
    .cap-info-btn{
      button:first-child{
        background-color: $color-white;
      }
      button:last-child{
        background-color: $color-background;
      }
    }
    .sch-info-btn{
      margin: 0px 20px 0px 20px;
      button:first-child{
        background-color: $color-white;
      }
      button:last-child{
        background-color: $color-info-bg;
        color: $color-white;
      }
    }
    .work-info-btn{
      button:first-child{
        background-color: $color-white;
        color: $color-text3;
      }
      button:last-child{
        background-color: #04505e;
        color: $color-white;
      }
    }
  }
  .legend{
    .text{
      height: 16px;
      font-family: $font-family-roboto;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
        font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: center;
      color: $color-text2;
      vertical-align: super;
      margin-right: 20px;
    }
    .box{
      width: 30px;
      height: 25px;
      border: solid 0.5px #707070;
      margin-right: 20px;
    }
    .box:first-child{
      background-color: $color-background;
    }
    .stripe-2 {
      color: black;
      background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 5px,
        #fff 0px,
        #fff 9px
      ),
      linear-gradient(
        to bottom,
        #999,
        #999
      )
    }
  }
  .hour-popup{
    border: solid 1px $color-text2 !important;
    background-color: #00A031 !important;
  }
  .highcharts-grid-line{
    display: none;
  }
  .report-not-found{
    padding-top: 85px;
    text-align: center;
    vertical-align: top;
  }
}