@import "./styles";
  
.reports-container {
  width: 100%;
  .report-table{
    margin: 2% 2.5% 2% 2.5%;
  }
}
.reports-btns .SelectedWeekExample{
  display: inline-block;
  width: 52%;
}
.reports-btns{
  position: fixed;
  z-index: 4;
  height: 60px;
  background-color: #ffff;
  top: 118px;
  box-shadow: inset 0 -15px 15px -10px rgba(0, 0, 0, 0.2);
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  display: inline-block;
  // width: 100%;
  padding: 10px 20px 10px 20px;
  // box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.1);
  .report-caleneder-btn{
    // width: 60%;
display: inline-flex;
justify-content: flex-end;
    // display: inline-block;
    // padding-left: 275px;
//     width: 68%;
// display: inline-flex;
// justify-content: end;
    .report-category{
      margin-right: 20px;
      .custom-search-select{
        height: 34px !important;
        width: 290px !important;
        input{
          padding: 5px 5px !important;
          width: 50% !important;
          margin-left: 10px !important;
          color: #9b9b9b !important;
        }
      }
      .down-icon{
        position: absolute !important;
        right: 0px !important;
        top: 2px !important;
      }
    }
    .report-priority{
      .custom-search-select{
        width: 230px !important;
        height: 34px !important;
        input{
          width: 50% !important;
          padding: 5px 5px !important;
          margin-left: 10px !important;
          color: #9b9b9b !important;


        }
        .color-dot{
          margin-left: 5px !important;
          margin-right: 5px !important;
        }
      }
      .down-icon{
        position: absolute !important;
        right: 0px !important;
        top: 2px !important;
      }
    }
  }
  // .report-download, button:hover{
  //   background-color: $color-brand3 !important;

  // }
  .report-download{
    display: inline-block;
    // float: right;
    // width: 15%;
    button{
      // width: 70% !important;
      // font-size: 15px !important;
      display: inline-flex !important;
      width: auto;
      height: 36px;
      border-radius: 5px;
      border: solid 1px $color-brand3;
      background-color: $color-white;
      // margin: 6px 76px 0px 0px;
      margin: 0px 76px 0px 22px;

      box-shadow: none !important;
      color: #212529;
      background-color: white;
      font-size: 18px;
      &:hover{
          // background-color: #33a1ff !important;
          // color: #fff !important;
          // font-weight: bold !important;
          background-color: #0056b3 !important;
          color: white;

          
      }
      
    }
    .csv-loader{
      position: absolute;
      z-index: 100;
      padding-left: 70px;
    }
    .fa-download{
      padding: 4px 10px 4px 0px;
    }
  }
  .SelectedWeekExample{
    display: inline-block;
    // width: 25%;

  }
  .active{
      background-color: #33a1ff !important;
      color: #fff !important;
      font-weight: bold !important;
  }
}

.btn-bg-change {
  background-color: #33a1ff;
  color: white;
}

.SelectedWeekExample {
  .react-datepicker-wrapper {
    .reports-date-picker-icon{
      position: relative !important;
      right: 20px;
    }
    .react-datepicker__input-container input{
      border: none;
      // padding: 0px 0 0 0px;
      padding-left: 54px !important;
      // text-align: center;
      margin: 4px;
      width:  244px !important;
    }
    border-radius: 5px;
    width: auto;
    height: auto;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
  }
  .week-hover-bg{
    .react-datepicker-wrapper {
      .reports-date-picker-icon{
       
      }
      .react-datepicker__input-container input{
        
        padding-left: 12px !important;
      }
    }
  }
}

.reports-table-container {
  width: auto;
  height: auto;
  border: solid 1px #10b857;
  background-color: #ffffff;
  margin-top: 20px;
  .report-header{
    width: auto;
    height: 60px;
    // padding: 20px;
    padding: 20px 56px 0px 14px;
    // background-color: rgba(229, 229, 229, 0.6);
    background-color: #F8F8F8 !important;
  }
  .report-table-date{
    width: auto;
    height: 40px;
    // background-color: rgba(229, 229, 229, 0.5);
    background-color: #F8F8F8 !important;

  }
  .reports-track-logs{
    height: 34px !important;
    .custom-search-select{
      width: 180px !important;
      input{
        padding: 5px 0px 5px 10px;
      }
      .down-icon{
        position: absolute;
        font-size: 18px;
        margin: 0px !important;
      }
      // .suggestions{
      //   width: 100% !important;
      //   margin: 0px !important;
      // }
      li{
        height: 34px !important;
        padding: 5px 0px !important
        i{
          padding-left: 5px !important;
        }
        span{
          padding-left: 0px;
        }
      }
    }
    .suggestions {
      position: relative !important;
      width: 70%  !important;
      margin: 1px !important;
      max-height: 200px!important;
      font-size: 14px;
      font-family: $font-family-roboto;
      z-index: 1 !important;
      border: 1px solid rgba(209, 209, 209, 1) !important;
      border-radius: 5px !important;
      overflow-y: auto!important;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.17) !important;
      background-color: #ffffff !important;
      ul {
        list-style-type: none;
        text-align: left;
        margin: 0;
        padding: 0px;
      }
      li {
        padding: 5px 0px 5px 5px;
        border-bottom: 1px solid rgba(209, 209, 209, 1);
      }
      li:hover {
        cursor: pointer;
        background-color: $color-dropdown;
      }
    }
  }
}
.arrow-button{
  padding: 0px 26px 0px 15px;
  border: none;
  background: none;
  vertical-align: bottom;
  font-size: 26px;
}
.report-viewtype-btns {
  position: fixed !important;
  top: 72px !important;
  right: 13% !important;
  z-index: 10;
  div{
    width: 80px;
    height: 36px;
    background-color: #ffffff;
    border: solid 1px $color-borders;
    text-align: center;
    padding-top: 5px;
    font-family: $font-family-roboto !important;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    cursor: pointer;
  }
  :first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  :last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .active{
    border: solid 1px $color-brand3 !important;
    background-color: $color-brand3 !important;
    color: $color-white !important;
  }
  .active:hover{
  background-color: #0056b3 !important;

  }
}
.right-left-space-5{
  padding-left: 5px;
  padding-right: 5px;
  // padding-top: 4px;
}

.user-project-search{
  width: 100%;
  border: 1px solid gray;
  box-shadow: #d6d6d6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  border: none;
  top: 0;
  left: 0;
  vertical-align: -webkit-baseline-middle;
  // position: absolute;
  height: 34px;
  input{
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #33a1ff;
    padding: 10px 5px;
  }
  ul{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  li{
    padding: 10px 5px;
  }
  .suggestion-holder{
    position: absolute;
    left: 0;
    width: 109%;
    height: auto;
    z-index: 100;
    background-color: #fff;
    border-radius: 5px;
    top: 36px;
    li:hover{
      cursor: pointer;
      background-color: rgba(242, 242, 242, 1);
    }
  }

  .suggestion-holder-border{
    border: 1px solid rgba(155, 155, 155, 1);
  }
  .selected-tags{
    display: inline-block;
    .search-icon-member, .search-icon-project{
      width: auto;
      height: 26px;
      // margin-right: 10px;
      border-radius: 4px;
      border: solid 1px #bfbfbf;
      background-color: #ffffff;
      display:inline-block !important;
    }
  }
  .remove-tag:hover{
    cursor: pointer;
  }
  .remove-tag{
    cursor: pointer;
  }
}

.priority{
  width: 10px;
  height: 10px;
  background-color: #9B9B9B;
  margin-right: 15px;
  border-radius: 20px;
}
.complete-btn{
  border-radius: 5px !important;
  border: solid 1px #00A031 !important;
  background-color: $color-white !important;
  font-family: $font-family-roboto !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: $color-text3 !important;
  color:#00a031 !important;
  height: 25px;
  max-width: 80px !important;
  text-align: center;
  padding: 2px;
}
.not-start-btn{
  border-radius: 5px !important;
  border: solid 1px $color-text3 !important;
  background-color: $color-white !important;
  font-family: $font-family-roboto !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: $color-text3 !important;
  height: 25px;
  max-width: 80px !important;
  text-align: center;
  padding: 2px;
}
.progress-btn{
  border-radius: 5px !important;
  border: solid 1px $color-brand3 !important;
  background-color: $color-white !important;
  font-family: $font-family-roboto !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color:$color-brand3 !important;
  height: 25px;
  max-width: 80px !important;
  text-align: center;
  padding: 2px;
}
.task-error{
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}
.report-message{
  color: #212529;
  width: auto;
  height: 18px;
  // padding-top: 10px;
  padding: 0px 4px;

}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: none !important;
  opacity: 2 !important;
  font-family:  "FontAwesome" !important;
  padding-left: 10px;
  z-index: 1 !important;
  width: 20px !important;
  height: 20px !important;
}

// .tooltip .tooltiptext {
//   visibility: hidden;
//   width: 300px !important;
//   font-size: 12px !important;
//   background-color: $color-info-bg;
//   color: #fff !important;
//   text-align: center;
//   border-radius: 6px;
//   padding: 5px 0;
//   position: absolute;
//   z-index: 1 !important;
//   top: -5px;
//   left: 110%;
// }

.tooltip .tooltiptext::after {
  content: "";
    position: absolute;
    top: -17%;
    right: 56%;
    margin-top: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent black transparent transparent;
    transform: rotateX(1deg) rotateY(8deg) rotateZ(90deg);
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 12px !important;
  background-color: $color-info-bg;
  color: #fff !important;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.summary-reports{
  width: 94%;
  height: 300px;
  margin: 6.5% 3% 1.5% 3%;
  .heading{
    margin-bottom: 2%;
  }
  .report-heading{
    width: 151px;
    height: 24px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
  }
  .circle-chart{
    width: 60% !important;
    .chart{
      width: 30% !important;
      height: 180px !important;
    }
  }
  .column-chart{
    width: 40% !important;
    height: 200px;
  }
  .summury-info-btn{
    button{
      height: 36px;
      width: 110px !important;
      text-align: center;
      border: solid 1px $color-background;
      border-radius: 3px;
      color: $color-brandheading2;
    }
    .cap-info-btn{
      button:first-child{
        background-color: $color-white;
      }
      button:last-child{
        background-color: $color-background;
      }
    }
    .sch-info-btn{
      margin: 0px 20px 0px 20px;
      button:first-child{
        background-color: $color-white;
      }
      button:last-child{
        background-color: $color-info-bg;
        color: $color-white;
      }
    }
    .work-info-btn{
      button:first-child{
        background-color: $color-white;
        // color: $color-text3;
      }
      button:last-child{
        // background-color: #04505e;
        color: $color-white;
        background-color: #33a1ff;
        &:hover{
          background-color: #0056b3 !important;

        }
      }
    }
  }
  .legend{
    .text{
      height: 16px;
      font-family: $font-family-roboto;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
        font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: center;
      color: $color-text2;
      vertical-align: super;
      margin-right: 20px;
    }
    .box{
      width: 30px;
      height: 25px;
      border: solid 0.5px #707070;
      margin-right: 20px;
    }
    .box:first-child{
      background-color: $color-background;
    }
    .stripe-2 {
      color: black;
      background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 5px,
        #fff 0px,
        #fff 9px
      ),
      linear-gradient(
        to bottom,
        #999,
        #999
      )
    }
  }
  .hour-popup{
    border: solid 1px $color-text2 !important;
    background-color: #00A031 !important;
  }
  .highcharts-grid-line{
    display: none;
  }
  .report-not-found{
    padding-top: 85px;
    text-align: center;
    vertical-align: top;
  }
}

.report-edit-timetrack{
  .time-edit{
    margin-left: 50px;
  }
  .track-time-edit{
    .react-datepicker-popper{
      left: -60px !important;
    }
    .react-datepicker-wrapper{
      input{
        width: 90%;
        border-radius: 5px;
      }
    }
    .react-datepicker{
      display: flex !important;
    }
  }
}
@media screen and (max-width: 1440px) {
.reports-table-container {
    .report-table-row{
      .td-1{
        width: 15% !important;
      }
      .td-2{
        width: 10% !important;
      }
      .td-3{
        width: 27% !important;
      }
      .td-4{
        width: 9% !important;
      }
      .td-5{
        width: 9% !important;
      }
      .td-6{
        width: 12% !important;
      }
      .td-7{
        width: 9% !important;
      }
      .td-8{
        width: 9% !important;
      }
    }
  }
}