.workspace1-setting .side-tabs {
  position: fixed;
  z-index: 5;
  width: 14%;
  height: 100% !important;
}

.workspace1-setting .main-content {
  margin-left: 15%;
}

.workspace1-setting .body-tabs {
  padding-top: 10px !important;
}
