@import "./styles";

.signup-container{
    margin-top:2%;
}

.signup{
    .image{
        width:$wd-100;
        height: 500px;
    }
    .sub-container{
        background-color:$color-fbfbfb;
        font-family: $font-family-arial;
        color: $color-333333;
        text-align: $text-center;
        margin-left:1%;
        padding: 1% 3% 1% 3% !important;
    }
    .width{
        min-width:56% !important;
    }
    .heading{
        box-sizing: $box-sizing;
        font-family: $font-family;
        font-weight: $font-weight-900;
        font-size:$font-32;
        color: $color-333333;
        text-align: $text-center;
        margin-bottom:2%;
    }
    .main-tabs{
        border:0 !important;
        width: 211px;
        height: 27px;
        margin:auto;
        margin-bottom: 20px;
    }
    .form-btn{
        border-radius: 2px;
        border: 1px solid $color-brand3 !important;
        background-color: $color-brand3 !important;
        font-family: $font-family-robomed !important;
        font-weight: 500 !important;
        color: $color-white !important;
        text-align: center !important;
        width:$wd-100 !important;
    }
    .googleIcon{
        img{
            width: 23px;
            height: 23px;
        }
        .link{
            margin-left:3%;
            font-family:$font-family-roboto !important;
            text-decoration: underline !important;
            color: $color-text3 !important;
            font-size: $font-12 !important;
        }
        span{
            font-family: $font-family-roboto !important;
            color: $color-text3 !important;
            font-size: 12px !important;
        }
    }
}

.nav-tabs .nav-link{
    width:50% !important;
    text-align: center !important;
    padding-right:0 !important;
    padding-left:0 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    font-family: $font-family-roboto !important;
    font-weight: $font-weight-900 !important;
    color: $color-333333 !important;
    text-align: $text-center !important;
    background-color:transparent !important;
    border-bottom: 2px solid #10b857 !important;
    border: 0;
}

a{
    color:$color-3333339c !important; 
}

.signup-form{
    label{
        font-family: $font-family-roboto;
        font-weight: bold;
        color: $color-text3;
        text-align: left;
        font-size:15px;
    }
    input{
        height: 32px !important;
        background-color: $color-white !important;
        font-family: $font-family-roboto !important;
        color: #999999 !important;
        text-align: left !important;
        border:1px solid $color-borders !important;
        &::placeholder{
            color:#999999 !important;
            font-size: 15px !important;
            font-family: $font-family-roboto !important;
        }
    }
}

