@import "./colors";
@import "./variables";

.error-warning{
    color:$red-color;
    font-family: $font-family-roboto;
    text-align: $text-left;
    font-size:$font-14;
    margin-left: 15px;
}

.no-margin{
    margin-left:$mr-0 !important;
    margin-right:$mr-0 !important;
}   

.no-padding{
    padding:$mr-0 !important;
}

.main-container{
    width:94% !important;
    margin:auto !important;
}

.text-titlize {
    text-transform: capitalize;
}

.left-padding-50px {
    padding-left: 50px !important;
}
.date-text-light{
    width: 24px;
    height: 18px;
    opacity: 0.5;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #555555 !important;
}
.padding-10px{
    padding: 10px !important;
}
.text-blue{
    color: #0075d9;
}
.text-green{
    color:#008135;
}
