@import "./colors";
@import "./variables";

.error-warning {
  color: $red-color;
  font-family: $font-family-roboto;
  text-align: $text-left;
  font-size: $font-14;
  margin-left: 15px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.text-wraping {
  display: inline-block;
  width: 270px;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  vertical-align: middle;
}

.no-margin {
  margin-left: $mr-0 !important;
  margin-right: $mr-0 !important;
}

.no-padding {
  padding: $mr-0 !important;
}

.main-container {
  width: 94% !important;
  margin: auto !important;
}

.text-titlize {
  text-transform: capitalize;
}

.left-padding-50px {
  padding-left: 50px !important;
}
.date-text-light {
  width: 24px;
  height: 18px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #555555 !important;
}
.padding-10px {
  padding: 10px !important;
}
.text-blue {
  color: #0075d9;
}
.text-green {
  color: #008135;
}
.loader,
.loader:before,
.loader:after {
  background: #1f8354;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #1f8354;
  text-indent: -9999em;
  margin-top: 20%;
  margin-left: 45%;
  position: absolute;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  z-index: 1000;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 500 px;
  left: 500 px;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
