@import "./colors";
@import "./variables";

.error-warning {
  color: $red-color;
  font-family: $font-family-roboto;
  text-align: $text-left;
  font-size: $font-14;
  margin-left: 5px;
}

.signup-form{
  .fa-info-circle{
    padding: 1px 0px 0px 10px;
  }
  .info-icon{
    padding-left: 30px;
  }
  .tooltip {
    position: absolute;
    opacity: 2 !important;
    font-family: 'FontAwesome' !important;
    padding-left: 10px;
  }  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 296px;
    height: 33px;
    top: -15px;
    font-size: 12px !important;
    background-color: $color-info-bg;
    color: #fff;
    text-align: center;
    font-family: $font-family-roboto !important;
    padding: 0px 0px 0px 0px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}

.text-wraping {
  display: inline-block;
  width: 270px;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  vertical-align: middle;
}

.no-margin {
  margin-left: $mr-0 !important;
  margin-right: $mr-0 !important;
}

.no-padding {
  padding: $mr-0 !important;
}

.main-container {
  width: 94% !important;
  margin: auto !important;
}

.text-titlize {
  text-transform: capitalize;
}

.left-padding-50px {
  padding-left: 50px !important;
}
.date-text-light {
  width: 24px;
  height: 18px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #555555 !important;
}
.padding-10px {
  padding: 10px !important;
}
.text-blue {
  color: #0075d9;
}
.text-green {
  color: #008135;
}

.left-padding-20px {
  padding-left: 20px !important;
}
.login-signup-loader{
  position: absolute;
  z-index: 500;
  padding-left: 10px;
}
.dailyploy-loader{
  position: absolute;
  z-index: 500;
  left: 50%;
  top: 50%;
}
.week-hover-bg .react-datepicker__week:hover .react-datepicker__day {
  background-color: #1d5d90;;
  border-radius: 5px;
  color: $color-white !important;
}
.input-error-border{
  border: 1px solid #ea4672 !important;
  ::placeholder{
    border: 1px solid #ea4672 !important;
  }
}
.input-normal-border{
  border: 1px solid $color-borders !important;
}
.list-not-found{
  box-shadow: 0 -16px 20px 0 rgba(0, 0, 0, 0.1) !important;
  text-align: center;
  padding-top: 20px;
  span{
    color: $color-text3;
  }
}