$mr-0:0;

/* margin */
$mr-70:70px;

/* width */
$wd-100:100%;



$box-sizing:border-box;

/* text align */
$text-right:right;
$text-left:left;
$text-center:center;



/* font variables */

/* font family */
$font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
$font-family-arial: 'Arial Regular', 'Arial';
$font-family-roboto:'Roboto-Regular', 'Roboto';
$font-family-robomed: 'Roboto-Medium', 'Roboto Medium', 'Roboto' ;

/* font weight */
$font-weight-700:700;
$font-weight-900:900;

/* font size */
$font-36:36px;
$font-32:32px;
$font-30:30px;
$font-17:17px; 
$font-18:18px;
$font-15:15px;
$font-16:16px; 
$font-14:14px;
$font-13:13px;
$font-12:12px;