.workspace-settings .react-tabs__tab-list {
  position: fixed;
  width: 100%;
  background: #f9f9f9;
  z-index: 1;
  padding-top: 30px;
}

.workspace-settings .general-setting .workspace-name {
  margin-top: 75px;
}
table{
  tr{
    width: 40px !important;
  }
}
