.Toastify__toast {
  min-height: 50px;
  padding: 10px;
  border-radius: 14px;
  box-shadow: 0 8px 10px 4px rgba(0, 0, 0, 0.1), 0 10px 15px 0 rgba(0, 0, 0, 0.05);
}

.no-padding{
  padding:0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888 !important; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important; 
}