.Toastify__toast {
  min-height: 0px;
  padding: 0px;
  margin-bottom: none;
}
.Toastify__progress-bar--default {
  height: 0px;
}
.Toastify__close-button {
  padding: 10px;
}

.Toastify__toast-container {
  width: auto !important;
  min-width: 270px !important;
  top: 112px !important;
}

.dailyploy-toast {
  width: 6px;
  height: 40px;
  vertical-align: middle;
}
.dailyploy-toast-message {
  padding-left: 20px;
  color: #424242;
  font-weight: 900;
  font-family: "Roboto";
  font-size: 15px;
}

.no-padding {
  padding: 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 7px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

.form-control {
  transition: none !important;
}

textarea:hover,
input:hover,
select:focus,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  /* -webkit-appearance: none;  */
  box-shadow: none !important;
}
